.spinner {
  display: inline-block;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  transition: transform 1s, rotate 1.5s;
  background-size: contain;
}

.invisible {
  height: 0px;
  width: 0px;
  overflow: hidden;
  transform: scale(.01,.01) rotate(720deg);
}

#topOption {
  background-size: contain;
  display: inline-block;
  width: 70px;
  height: 70px;
  position: absolute;
  top: 15px;
  left: 115px;
}

#leftOption {
  background-size: contain;
  display: inline-block;
  width: 70px;
  height: 70px;
  position: absolute;
  top: 115px;
  left: 15px;
}

#bottomOption {
  background-size: contain;
  display: inline-block;
  width: 70px;
  height: 70px;
  position: absolute;
  bottom: 15px;
  left: 115px;
}

#rightOption {
  background-size: contain;
  display: inline-block;
  width: 70px;
  height: 70px;
  position: absolute;
  top: 115px;
  right: 15px;
}
